.metadata
.gradle
.classpath
~*.project
.factorypath
.sfdx/
.vscode-janus-debug
.vscode/
.recommenders/
*~
bin/
tmp/
target/
Servers/
*.tmp
*.log
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"q
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

# Mac desktop service store files
.DS_Store
Cukes/.idea/Cukes.iml
Cukes/.idea/workspace.xml
Cukes/.idea/runConfigurations/Local_All.xml
Cukes/.idea/Cukes.iml
*.orig
*.dll
*.exe
packages/*
Cukes/.idea/misc.xml
Cukes/.idea/misc.xml
Cukes/.idea/modules.xml
Cukes/.idea/.rakeTasks
Cukes/node_modules/

RemoteSystemsTempFiles
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
